<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/login.css" />
    <script src="../public/jquery.min.js" ></script>
    <script src="../public/js/auth.js" ></script>
    <title></title>
</head>
<body>


<div align="center">


        <div style="color:#0F7EEC"><h1>Node Js Chat</h1></div>
        <div class="form-title" >username</div>
        <input id="usernamelogin" class="form-field"  type="text" name="username"/><br/>

        <div class="form-title" >password</div>
        <input id="passwordlogin" class="form-field" type="password" name="password"/><br/>

        <div class="submit-container"  align="center">
            <input onclick="login()" class="submit-button" type="button" name="submit" value="Login">  </input>
        </div>

</div>

<div align="center">


    <div style="color:#0F7EEC"><h1>OR</h1></div>
    <div class="form-title" >username</div>
    <input id="usernamereg" class="form-field"  type="text" name="username"/><br/>

    <div class="form-title" >password</div>
    <input id="passwordreg" class="form-field" type="password" name="password"/><br/>

    <div class="submit-container"  align="center">
        <input onclick="register()" class="submit-button" type="button" name="submit" value="Register">  </input>
    </div>

</div>


</body>
</html>